.popup__button {
  width: 32px;
  height: 32px;
  padding: 8px;
  margin: 0;
  display: inline-block;
  border: none;
  background-color: transparent;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all .2s linear;
  border-radius: 6px;
}

.popup__button::before {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  transition: transform .1s ease-in, top .1s linear .1s;
  top: 15px;
  left: 7px;
  border-radius: 2px;
  transform: rotate(45deg);
}

.popup__button::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  transition: transform .1s ease-in, top .1s linear .1s;
  top: 15px;
  left: 7px;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.popup__button_opened {
  visibility: visible;
  opacity: 1;
}

.popup__button:hover {
  background-color: var(--gray200);
}