.vacancy__item {
  min-height: 56px;
  margin: 20px auto;
  border-radius: 8px;
  background-color: #2A282E;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  max-width: 640px;
}

.vacancy__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .vacancy__item {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .vacancy__item {
    max-width: 80%;
    width: 1200px;
  }
}

@media screen and (min-width: 1000px) {
  .vacancy__item {
    max-width: 760px;
  }
}

@media screen and (min-width: 1260px) {
  .vacancy__item {
    font-size: 1.2rem;
    padding: 30px;
    max-width: 68%;
    margin: 30px auto;
  }
}
