.vacancy__item {
  min-height: 56px;
  margin: 20px auto;
  border-radius: 16px;
  background-color: #2A282E;
  padding: 24px 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  max-width: 640px;
}

.vacancy__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .vacancy__item {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .vacancy__item {
    max-width: 80%;
    width: 1000px;
  }
}

@media screen and (min-width: 1260px) {
  .vacancy__item {
    padding: 30px;
    margin: 30px auto;
  }
}
