.button {
  min-width: 230px;
  min-height: 2.5rem;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 1rem;
  color: #201E24;
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
