.button {
  width: 228px;
  height: 56px;
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  color: #201E24;
  background-color: #F9B700;
  padding: 2px solid #F9B700;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}