.popup__content-cost {
  width: 100%;
  font-size: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.popup__content-cost:last-of-type {
  margin-bottom: 0;
}
