.services__wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 40px auto 0;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .services__wrapper{
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1260px) {
  .services__wrapper{
    grid-gap: 1.6rem;
    margin: 60px auto 0;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
  }
}

@media screen and (min-width: 1520px) {
  .services__wrapper{
    margin: 90px auto 0;
  }
}