.selection__lists {
  margin: 0 auto 40px;
    max-width: 640px;
}

.selection__lists:last-of-type {
  margin-bottom: 0px;
}

@media screen and (min-width: 480px) {
  .selection__lists {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .selection__lists {
    max-width: 80%;
    width: 1200px;
  }
}

@media screen and (min-width: 1260px) {
  .selection__lists {
    max-width: 68%;
    margin: 0 auto 60px;
  }
}
