.training__item-btn {
  width: 16px;
  height: 16px;
  position: relative;
}

.training__item-btn::before {
  content: "";
  width: 10px;
  height: 2px;
  /* background-color: #F9B700; */
  border-radius: 1px;
  position: absolute;
  left: 0px;  top: 8px;
  transform: rotate(45deg);
}

.training__item-btn::after {
  content: "";
  width: 10px;
  height: 2px;
  /* background-color: #F9B700; */
  border-radius: 1px;
  position: absolute;
  right: 0px;  top: 8px;
  transform: rotate(-45deg);
}