.popup__content-dots {
  flex: 1 0;
}

.popup__content-dots::before {
  content: '';
  border-bottom: 1px dotted rgba(0, 0, 0, 0.322);
  width: 100%;
  width: calc(100% - 6px);
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
