.company__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  left: 50%;
  top: 40%;
  min-height: calc((2rem + 4vw) * 3 + 2rem + 110px);
  transform: translateY(-50%);
  width: 100%;
  transform: translate(-50%, -49%);
}
