.menu__logo-img {
  width: 70px;
  height: 70px;
  background-image: url(../../../images/crs_y.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 66px;
  object-fit: cover;
  position: absolute;
  left: -30px;
  top: -15px;
  z-index: -1;
}