.popup__content-wrapper {
  width: 100%;
  min-height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  overflow: hidden;
}

@media screen and (min-width: 1260px) {
  .popup__content-wrapper {
    margin-bottom: 10px;
  }
}
