.popup__content-price {
  margin: 0;
  font-size: calc(12px + .4vw);
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color .2s ease-in, border .2s ease-in;
}


.popup__content-price_selected {
  background-color: var(--dark);
  color: var(--white);
}

.popup__content-price:hover {
  cursor: pointer;
}