.popup__content-price {
  margin: 0;
}

.popup__content-price::after {
  content: "/";
  margin: 0 2px;
}

.popup__content-price:last-child::after {
  content: "";
}

.popup__content-price_selected.popup__content-price::after{
  font-weight: 500;
}
.popup__content-price_selected {
  font-weight: 700;
}

.popup__content-price:hover {
  cursor: pointer;
}
