.services__item {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.services__item_brow {
  background-image: image-set(
    url(../../../images/banner2x.jpg) 2x,
    url(../../../images/banner1x.jpg) 1x
  );
  background-image: -webkit-image-set(
    url(../../../images/banner2x.jpg) 2x,
    url(../../../images/banner1x.jpg) 1x
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}