.services__item {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.services__item_brow {
  background-image: url(../../../images/banner2x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}