.selection__item {
  min-height: 56px;
  margin: 20px auto;
  border-radius: 16px;
  background-color: var(--gray);
}

.selection__item:last-of-type {
  margin-bottom: 0;
}

.selection__item_opened {
  background: linear-gradient(179.94deg, var(--gray) 14.42%, #26273d 99.95%), var(--gray);
  /* background: linear-gradient(179.94deg, var(--gray) 14.42%, #302238 99.95%), var(--gray); */
  /* background: linear-gradient(179.94deg, var(--gray) 14.42%, #332B36 99.95%), var(--gray); */
}

/* .selection__item:hover {
} */

@media screen and (min-width: 1260px) {
  .selection__item {
    margin: 30px auto;
  }
}
