.selection__item {
  min-height: 56px;
  margin: 20px auto;
  border-radius: 16px;
  background-color: var(--gray);
  transition: filter .25s linear,;
}

.selection__item:last-of-type {
  margin-bottom: 0;
}

.selection__item_opened {
  background: linear-gradient(179.94deg, var(--gray) 14.42%, #26273d 99.95%), var(--gray);
  filter: var(--shadow);
}


@media screen and (min-width: 1260px) {
  .selection__item {
    margin: 30px auto;
  }
}
