.contacts__photo {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 16px;
  justify-self: flex-end;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .contacts__photo {
    margin: 0;
  }
}