.popup__content-subtitle-unit {
  min-width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  padding: 2px;
  background-color: #F9B700;
  color: #201E24;
  /* background-color: rgba(32, 30, 36, .4);
  color: #f4f4f4; */
  border-radius: 6px;
  margin-top: -12px;
  margin: 0 0 0 4px;
  position: relative;
  top: 0px;
  left: 0;
  display: none;
}

.popup__content-subtitle-unit_opened {
  display: block;
  /* background-color: #F9B700;
  color: #201E24; */
}