.popup__content-subtitle-unit {
  min-width: 1rem;
  height: 1rem;


  font-size: 0.5rem;
  line-height: 0.56rem;
  padding: 5px;
  background-color: var(--gray200);
  color: var(--darck);
  border-radius: 40px;
  margin: 2px 8px 2px 2px;
  position: relative;
  align-self: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  top: 0px;
  left: 0;
  display: none;
}

.popup__content-subtitle-unit_opened {
  display: flex;

}