.header__logo-wrapper {
  width: auto;
  height: auto;
  position: relative;
  z-index: 2;
}

.header__logo-wrapper::after {
  width: 100px;
  height: 100px;
  content: "";
  background-image: url(../../../images/crlogo.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  left: -20px;
  top: -10px;
}

@media screen and (min-width: 1260px) {
  .header__logo-wrapper::after {
    background-size: 86px;
    left: -40px;
    top: -28px;
  }
}