.selection__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
  cursor: pointer;
}

@media screen and (min-width: 1260px) {
  .selection__header {
    padding: 30px;
  }
}