.about__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f4f4f4;
  position: relative;
  margin-right: 20px;
}

.about__icon::after {
  content: "";
  border: 10px solid transparent;
  border-left: 16px solid #201E24;
  position: absolute;
  left: 19px;
  top: 14px;
}