.about__icon {
  min-width: 7vh;
  min-height: 7vh;
  border-radius: 50%;
  background-color: var(--white);
  position: relative;
  margin-right: 30px;
}

.about__icon::before {
  content: "";
  width: 9vh;
  height: 9vh;
  border-radius: 8vh;
  position: absolute;
  top: -1vh;
  left: -1vh;
  z-index: -1;
  animation: switchColor 2.6s linear infinite alternate;
}

.about__icon::after {
  content: "";
  border: 1.5vh solid transparent;
  border-left: 2.5vh solid #201E24;
  position: absolute;
  left: 2.6vh;
  top: 2vh;
}