.background {
  position: relative;
}

.background::after {
  writing-mode: tb-rl;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  position: absolute;
  font-weight: 800;
  font-size: 15vh;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  /* left: 0; */
  /* transform: translate(-39%, -50%); */
  /* line-height: 15vh; */
  color: #201F24;
  /* color: rgba(244, 244, 244, 0.1); */
  /* text-shadow: -2px 2px 8px #2A282E, 2px -2px 8px #16141A; */
  color: #2a282e;
  z-index: -1;
  display: none;
}

/* .background_about::after {
  content: "about";
} */

/* .background_nails::after {
  content: "nails";
} */

/* .background_clients::after {
  content: "clients";
} */

/* .background_training::after {
  content: "training";
} */

/* .background_vacancy::after {
  content: "vacancy";
} */

/* .background_contacts::after {
  content: "contacts";
} */

@media screen and (min-width: 1260px) {
  .background::after {
    display: block;
  }
}