.menu__icon {
  width: 30px;
  height: 3px;
  background-color: #f4f4f4;
  position: relative;
  transition: background-color 0.1s ease-in;
}

.menu__icon::before {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #f4f4f4;
  position: absolute;
  transition: transform .1s ease-in, top .1s linear .1s;
  top: -7px;
  left: 0;
}

.menu__icon::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #f4f4f4;
  position: absolute;
  transition: transform .1s ease-in, top .1s linear .1s;
  top: 7px;
  left: 0;
}

.menu__icon.menu__icon_active {
  background-color: transparent;
}

.menu__icon.menu__icon_active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top .1s linear, transform .1s ease-in .1s;
}

.menu__icon.menu__icon_active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top .1s linear, transform .1s ease-in .1s;
}