.cards {
  margin: 60px auto;
  max-width: 560px;
  max-height: 350px;
  width: 80vw;
  height: 50vw;
  background: linear-gradient(111.47deg, #302E34 0%, #1A181E 100%);
  position: relative;
  border-radius: 0.45rem;
}

.cards::before {
  content: "";
  background: linear-gradient(120deg, #343338 0%, #141318 100%);
  box-shadow: 20px 20px 30px #0A080E;
  position: absolute;
  left:-1px;
  top:-1px;
  right:-1px;
  bottom:-1px;
  border-radius: 0.5rem;
  z-index: -1;
}

.cards::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../../images/krest_mob.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  background-size: 45%;
  border-radius: 0.5rem;
}

