@keyframes translateCards {
  0% {
    transform: rotateX(3.5deg) rotateY(-0.5deg);
  }
  25% {
    transform: rotateX(0.5deg) rotateY(12deg);
  }
  50% {
    transform: rotateX(-7deg) rotateY(-0.5deg);
  }
  75% {
    transform: rotateX(0.5deg) rotateY(-12deg);
  }
  100% {
    transform: rotateX(3.5deg) rotateY(-0.5deg);
  }
}

 /* контур карты */
.cards {
  margin: 60px auto;
  max-width: 560px;
  max-height: 350px;
  width: 80vw;
  height: 50vw;
  background: linear-gradient(120deg, #343338 0%, #141318 100%);
  box-shadow: 24px 20px 35px #0a080eb0;
  position: relative;
  border-radius: 1rem;
  transition-duration: .4s;
}

/* карточка  */
.cards::before {
  content: "";
  background: linear-gradient(111.47deg, #302E34 0%, #1A181E 100%);
  position: absolute;
  border-radius: .9rem;
  left:2px;
  top:2px;
  right:2px;
  bottom:2px;
}

/* изобращение на карточке */
.cards::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../../images/krest1x.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  background-size: 45%;
  border-radius: 1rem;
}
