.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}


/* @media screen and (min-width: 1000px) {
  .contacts__item {
  margin: 10px 0;
  }
} */

/* @media screen and (min-width: 1921px) {
  .contacts__item {

  }
} */