.about__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 40px 0 20px;
  color: var(--accent);
}

.about__title::before {
  content: "Почему?";
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  display: block;
}

@media screen and (min-width: 1000px) {
  .about__title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1260px) {
  .about__title {
    margin-bottom: 30px;
  }
}
