.selection__button {
  width: 16px;
  height: 16px;
  padding: 8px;
  border: none;
  margin: 0;
  position: relative;
  background-color: transparent;
  color: transparent;
  overflow: hidden;
}

.selection__button::before {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 2px;
  top: 6px;
  transform: rotate(45deg);
  left: 0px;
  position: absolute;
}

.selection__button::after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 2px;
  top: 6px;
  transform: rotate(-45deg);
  right: 0px;
  position: absolute;
}