.selection__button {
  width: 16px;
  height: 16px;
  position: relative;
}

.selection__button::before {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 0px;  top: 8px;
  transform: rotate(45deg);
}

.selection__button::after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  right: 0px;  top: 8px;
  transform: rotate(-45deg);
}