
.company__title {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(2rem + 3vw);
  line-height: 80%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-left: -4px;
  position: relative;

  opacity: 0;
}

.company__title .company__title_span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
}

.company__title .company__title_span:nth-last-of-type(1) {
  animation: glitch 400ms ease-in-out 1.6s;
  animation: moveLeft 400ms ease-in-out 1.6s;
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0 45%);
}

.company__title .company__title_span:nth-last-of-type(2) {
  animation: glitch 80ms ease-in-out 1.6s;
  animation: moveRight 450ms ease-in-out 1.6s;
  clip-path: polygon(0 90%, 100% 50%, 100% 100%, 0 100%);
}

.company__title_glitch {
  opacity: 1;
  font-size: 4rem;
  text-shadow:
    0 0 0 rgba(255, 0, 0, 0.75),
    0 0 0 rgba(0, 255, 0, 0.75),
    0 0 0 rgba(0, 0, 255, 0.75);
  animation: glitch 250ms ease-in-out 1.6s;
}


@media screen and (min-width: 900px) {
  .company__title {
    font-size: calc(2.5rem + 4vw);
  }
  .company__title_glitch {
    font-size: calc(2.5rem + 4vw);
  }
}