.popup__content {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  padding: 20px;
  
}

@media screen and (min-width: 1260px) {
  .popup__content {
    grid-gap: 40px;
  }
}
