.link {
  cursor: pointer;
  text-decoration: none;
  /* border-bottom: 1px solid #F9B700; */
}

.link__social {
  width: 30px;
  height: 30px;
  fill: #f4f4f4;
  border-bottom: none;
}

.link__phone {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-bottom: none;
  fill: #f4f4f4;
}