.logo {}

.logo__place_header {
  width: 60px;
  height: 30px;
  fill: #f4f4f4;
  position: relative;
  z-index: 1;
}

.logo__place_cards {
  margin: 10.1%;
  width: 59.3%;
  height: 42.3%;
  fill: url(#myGradient);
  -webkit-filter: drop-shadow(-2px -2px 2px rgba(59, 57, 63, 0.25));
}

.logo__place_footer {
  width: 226px;
  height: 101px;
  fill: #f4f4f4;
}

@media screen and (min-width: 1260px) {
  .logo__place_header {
    width: 100px;
    height: 45px;
  }
}


