.color {
}

.color_accent {
  color: #F9B700;
  border-color: #F9B700;
}

.color_svg{
  fill:#F9B700;
}

.color_accent.link {
  border-bottom: 1px solid #F9B700;
}

.color_accent.button {
  background-color: #F9B700;
  border: 2px solid #F9B700;
}

.color_transparent {
  color: #f4f4f433;
}

.color_spinner {
  border-color: rgba(250, 183, 0);
  border-bottom-color: rgba(250, 183, 0, 0.45);
}
