.color {
}

.color_accent {
  color: #F9B700;
}

.color_svg{
  fill:#F9B700;
}


/* .color_psevdo::before {
  background-color: #F9B700;
} */
/* 
.color_psevdo::after {
  background-color: #F9B700;
} */

.color_accent.link {
  border-bottom: 1px solid #F9B700;
}

.color_accent.button {
  background-color: #F9B700;
  border: 2px solid #F9B700;
}

.color_transparent {
  color: #f4f4f433;
}