.training__offer {
  margin-top: 60px;
  min-height: 40vh;
  text-align: center;
  background-image: url(../../../images/dotstwo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}