.about__img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  min-height: 200px;
}

.about__img canvas {
  width: 100%;
  max-width: 600px;
  max-height: inherit;
  height: 100%;
  border-radius: 8px;
  left: 0;
  top: 0;
  z-index: -1;
  position: relative;
  object-fit: cover;
}
