.about__img {
  width: 100%;
  min-height: 210px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-radius: 8px;
  z-index: -1;
}

.about__img canvas {
  filter: var(--shadow);
  width: 100%;
  max-width: 600px;
  min-height: inherit;
  height: 100%;
  border-radius: 8px;
  left: 0;
  top: 0;
  position: relative;
  object-fit: cover;

}
