.services__price-cost {
  font-weight: 700;
  margin: 0;
  font-size: 1rem;
}

.services__price-cost::after {
  content: "byn";
  color: #f4f4f433;
  text-transform: uppercase;
  margin-left: 0.25rem;
}

