
@import url(./__button/menu__button.css);
@import url(./__icon-wrapper/menu__icon-wrapper.css);
@import url(./__icon/menu__icon.css);

.menu {
  padding: 8px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 -16px 0 0;
  z-index: 10;
  cursor: pointer;
}