.padding {
  padding-top: 80px;
  padding-bottom: 40px;
}

.padding_s {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1260px) {
  .padding {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .padding_s {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}