.content {
  margin: 0 auto;
  padding: 0 20px;
}
/* 
.scroll {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.scroll__item {
  scroll-snap-align: start;
  scroll-snap-stop: always;

} */