.popup__header {
  width: 100%;
  text-transform: uppercase;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 14px 20px 20px;
  position: relative;
}

.popup__header::before {
  content: "";
  width: calc(100% - 40px);
  height: 2px;
  border-radius: 2px;
  border-bottom: 2px solid;
  position: absolute;
  left: 20px;
  bottom: 0;
  border-color: var(--accent);
}

