.company__social-link {
  /* width: auto;
  height: auto; */
  text-decoration: none;
  margin-right: 20px;
  position: relative;
}

.company__social-link:last-child {
  margin-right: 0;
}

.company__social-link:hover svg {}