@import url(./__info/clients__info.css);
@import url(./__icon/clients__icon.css);
@import url(./__text/clients__text.css);

.clients {
  position: relative;
}

.clients::after {
  content: "";
  width: 46vw;
  height: 46vw;
  max-width: 390px;
  max-height: 390px;
  background-image: url(../../images/dots.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 40%;
  right: 55%;
  z-index: -2;
}
