.about__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 48px;
  margin-top: 40px;
  text-decoration: none;
  color: #f4f4f4;
  cursor: pointer;
  justify-content: flex-start;
  width: fit-content;
}


@media screen and (min-width: 1260px) {
  .about__link {
    font-size: 1.2rem;
  }
}