@import url(./__header/popup__header.css);
@import url(./__name/popup__name.css);
@import url(./__wrapper/popup__wrapper.css);

@import url(./__cost/popup__cost.css);
@import url(./__button/popup__button.css);

@import url(./__content/popup__content.css);
@import url(./__content-item/popup__content-item.css);
@import url(./__content-wrapper/popup__content-wrapper.css);
@import url(./__content-title/popup__content-title.css);
@import url(./__content-cost/popup__content-cost.css);
@import url(./__content-subtitle/popup__content-subtitle.css);
@import url(./__content-unit/popup__content-unit.css);
@import url(./__content-dots/popup__content-dots.css);
@import url(./__content-price/popup__content-price.css);


@import url(./__footer/popup__footer.css);
@import url(./__link/popup__link.css);

.popup {
  position: fixed;
  color: #201E24;
  background-color: #f4f4f4;
  width: calc(100% - 40px);
  height: auto;
  max-height: 80vh;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  top: 70px;
  left: 50%;
  font-size: 1rem;

  transform: translateX(-50%);
  top: 9vh;

  display: none;
  flex-direction: column;
  /* padding: 4px 20px 20px; */
  padding: 4px 8px 20px 20px;
  justify-content: space-between;
  justify-self: center;
  overflow: hidden;
}

.popup_opened {
  display: flex;
}

.popup ::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  border-radius: 12px;
}

.popup ::-webkit-scrollbar-thumb {
  background-color: #F9B700;
  border-radius: 10px;
}


@media screen and (min-width: 1260px) {
  .popup {
    padding: 4px 18px 40px 40px;
    max-width: 800px;
  }
}