@import url(./__header/popup__header.css);
@import url(./__name/popup__name.css);
@import url(./__wrapper/popup__wrapper.css);

@import url(./__cost/popup__cost.css);
@import url(./__cost-sale/popup__cost-sale.css);
@import url(./__button/popup__button.css);

@import url(./__content/popup__content.css);


@import url(./__comment/popup__comment.css);
@import url(./__comment-header/popup__comment-header.css);
@import url(./__comment-title/popup__comment-title.css);
@import url(./__comment-dots/popup__comment-dots.css);
@import url(./__comment-wrapper/popup__comment-wrapper.css);
@import url(./__comment-text/popup__comment-text.css);

@import url(./__description/popup__description.css);
@import url(./__description-title/popup__description-title.css);
@import url(./__description-text/popup__description-text.css);
@import url(./__exception-text/popup__exception-text.css);


@import url(./__content-item/popup__content-item.css);
@import url(./__content-wrapper/popup__content-wrapper.css);
@import url(./__content-title/popup__content-title.css);
@import url(./__content-cost/popup__content-cost.css);
@import url(./__content-subtitle/popup__content-subtitle.css);
@import url(./__content-unit/popup__content-unit.css);
@import url(./__content-dots/popup__content-dots.css);
@import url(./__content-price/popup__content-price.css);

@import url(./__footer/popup__footer.css);
@import url(./__footer-text/popup__footer-text.css);
@import url(./__link/popup__link.css);


.popup {
  position: fixed;
  color: #201E24;
  background-color: var(--white);
  width: calc(100% - 40px);
  height: auto;
  max-height: 73vh;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  font-size: 1rem;

  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  overflow: hidden;
  z-index: 1;
}

.popup_opened {
  display: flex;
  filter: var(--shadow);
}

.popup ::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  border-radius: 12px;
}

.popup ::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
}

@media screen and (min-width: 1260px) {
  .popup {
    max-width: 800px;
  }
}